.idea
.DS_Store
.pyc
.coverage
.pytest_cache
__pycache__/

log
venv
pro.env

pyproject.toml
migrations
deploy

/compose/mysql/data/
/compose/mysql/log/
/compose/redis/data/
/compose/kafka/
/compose/kafka[1-9]/

